.section{
        padding-left:5%;
        overflow-x: hidden;
           background-color: rgb(17, 5, 81); 
}

.btn{
        color: black;
}

.btn:hover{
        background-color: rgb(255, 255, 255);
        color: black;
}

#ghLogo{
        width: 25%;
        height: 25%; 
   
}

#title{
        color: #fefcff;
}

.card{
        background-color: #f4d6f0; 
}